/* #ask{
    width: 20%;
}

#ask1{
    width: 20%;
}

#ask2{
    width: 20%;
}

#ask3{
    width: 20%;
}

#ask4{
    width: 20%; */

#ask5,#ask4,#ask3,#ask2,#ask1,#ask{
    width: 20%;
}

#secret{
    width: 21%;



}

